default: &default
  adapter: postgresql
  encoding: unicode
  username: root
  password: root
  host: localhost

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: school-api

test:
  <<: *default
  database: school-api

production:
  <<: *default
  database: rails_school_api_production
  username: rails_school_api
  password: <%= ENV["RAILS_SCHOOL_API_DATABASE_PASSWORD"] %>
